<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Verifica BanBif FisicaSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="Verifica BanBif FisicaSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://www.xchange.com.pe/Pruebas/Services/Verifica/BanBifFisicaResponse/ConsultaVerificaciones.asmx"
                binding="basicHttpBinding" bindingConfiguration="Verifica BanBif FisicaSoap"
                contract="ServiceReference1.VerificaBanBifFisicaSoap" name="Verifica BanBif FisicaSoap" />
        </client>
    </system.serviceModel>
</configuration>